.App {
  text-align: center;
}

.App-header {
  background-color: #004d99;
  padding: 20px;
  color: white;
}

.content {
  background-color: #e0f7e9;
  padding: 20px;
}

input, button {
  margin: 10px;
  padding: 10px;
  font-size: 16px;
}

button {
  background-color: #004d99;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #003366;
}
